body {
    background-image: url(/blackbeads.jpg);
    background-repeat: no-repeat;
    color: thistle;
    background-size: 85%;
}
/* #p1 {
    color: rgb(240,181,68);
    font-size: bold; */
}
form{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(5, 106, 161,);
    border-radius: 50px;
    box-shadow: 20px 20px 5px rgb(5, 106, 161,);
    padding: 8px;
}