body {
    background-image: url(/image/blackbeads.jpg);
    background-repeat: no-repeat;
    /* background-color: rgb(5, 106, 161,); */
    background-size: cover;
    color: black;
}
/* .col-sm-2{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: rgb(5, 106, 161,);
    border-radius: 50px;
    box-shadow: 20px 20px 5px rgb(5, 106, 161,);
    padding: 8px;
} */
